#pragma once

// copy this file as `wifi_creds.hpp` and put credentials there
// (the file will NOT be kept under VCS, for security reasons)
constexpr char const* wifi_ssid = "my_iot_network";
constexpr char const* wifi_pass = "topsi_kret";
